<br>
<br>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <form class="form-group">
            <div class="col-md-2">
                <p>talk about you asdasdaa</p>
            </div>

            <input class="col-md-7" type="text" placeholder="input something...">

            <div class="col-md-1">
                <button class="btn btn-default">submit</button>
            </div>
        </form>
    </div>
</div>