<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="">asdasdasd
                </a>
            <p class="navbar-text navbar-right">用户</p>
        </div>
        <div class="navbar-right">
            <!--<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>-->
            <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
                <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>-->
            <!--</button>-->
        </div>
    </div>
</nav>