<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <h4>brand</h4>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <div class="container">
            <div class="row">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <h4>生活查询</h4>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="weather"><h4>天气</h4></a></li>
                                <li><a href="delivery"><h4>物流</h4></a></li>
                                <li><a href="ip"><h4>IP信息</h4></a></li>
                                <li><a href="mobile_info"><h4>手机号查询</h4></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a class="navbar-link"><h4>door</h4></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <h4>door3</h4>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><h5>door 3.1</h5></a></li>
                                <li><a href="#"><h3>door 3.2</h3></a></li>
                                <li><a href="#"><h3>door 3.3</h3></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a class="navbar-link"><h4>doo33r</h4></a></li>
                    </ul>
                <!--<div class="navbar-right">-->
                    <!--<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>-->
                    <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
                        <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>-->
                    <!--</button>-->
                <!--</div>-->
            </div> <!--row-->
        </div> <!--container-->
    </div> <!--collapse navbar-collapse-->
</nav>